
{% extends "layout.html" %}

{% block main %}
<h1>Search for Books</h1>

<table  class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>ISNB</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        {% for livro in gab %}  <!--Como se usou uma query usada em orm(models.py - classe Books) cada livro da tabela da database é considerado um objeto, logo se eu nao especifica-se o livro.id, .title, etc ele nao sabia que info me dar do objeto, da linha de cada livro;-->
        <tr> 
            <td>{{livro.id}}</td>
            <td>{{livro.isbn}}</td>
            <td>{{livro.title}}</td>
            <td>{{livro.author}}</td>
            <td>{{livro.year}}</td>

        </tr>
        {% endfor %}

        {% endblock %}-->