<!DOCTYPE html>
<html lang="en" class="min-vh-100" style="overflow-y:scroll; margin-right: 1em; margin-bottom: 0em;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--Bootstrap JS, Popper.js e JQuery-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!--Fontawesome para poder usar simbolos -->
    <script src="https://use.fontawesome.com/faeb466ba5.js"></script>

    <!-- CSS 
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">-->

    <title>Reading is Freedom</title>
</head>

<body class="min-vh-100">

    <div class=" min-vh-100 row">

        <div class="col-1 bg-dark"></div>

        <div class="col container d-flex flex-column">

            <header class="mt-3 d-flex justify-content-around">
                <!--Logo site as href home-->
                <a class="h3  p-2  bd-highlight mr-5" style="font-size:30px" href="{{ url_for('initial_page')}}">
                    Reading is Freedom!
                </a>

                {% if session["id_user"] %}
                <!--difference header to a user logged in and not yet logged in-->
                <div class="mt-auto">

                    <p class="mb-0 mr-3 d-inline-block" style="font-size:20px"> Welcome, {{ session['id_user'][1] }}</p>
                    <!--little welcome message with the user's name when and while logged in-->

                    <a class="btn btn-outline-primary text-nowrap" href="{{ url_for('logout')}}">Log Out</a>

                    <a class="btn btn-outline-primary text-nowrap" href="{{ url_for('getBooks')}}">Search Books</a>

                </div>
                {% else %}
                <!--form log in -->
                <form method="POST" action="{{ url_for('login_verify')}}" class="d-flex justify-content-around">
                    <div class="d-flex align-items-center">

                        <input class="form-control" type="email" placeholder="Enter your email" id="example-email-input"
                            name="userEmail">
                        <input class="form-control" type="password" placeholder="Your password"
                            id="example-password-input" name="userPassword">

                        <!--button log in-->
                        <button type="submit" class="btn btn-outline-primary text-nowrap">Log in </button>
                    </div>
                </form>
                {% endif %}

            </header>

            <div class="flex-grow-1 ">
                {% block main %}
                {% endblock %}
            </div>

            <footer>
                <hr>
                <p class="text-center">CS50 - Project 1 - Ana_Miranda</p>
            </footer>

        </div>

    </div>

</body>

</html>