{% extends "layout.html" %}


{% block main %}

<div class="row ">
    <article class="col-6" >
        <h2  class="text-center font-weight-bold mt-5 mb-5 pt-5">Welcome!</h2>
        <p class="text-justiify">
            
            <p class="mt-5 pt-3 pl-3" style="font-size:20px">Here our mission is to offer you a site for readers 
            where you can search for books, rate them and write your opinion 
            about them.</p>
           
            <p class="pl-3" style="font-size:20px" >In additional you can also receive average rating and number of ratings information from Goodreads 
            about the work that you're searching for. </p>

            
            <br>
            <br>
        </p>
        <h4 class="text-center mt-5 mb-2">
            Go read! Go free yourself!
        </h4>
    
    </article>

  
    <div class="col-6"> 
        
        {% if ups %} <!--ups is the varivable defined in route 4 - in case of error email and/or password -->
            <div class="badge badge-pill badge-danger">{{ups}}</div>
            {% endif %}

        <p class="mt-5 font-weight-bold pt-5" style="font-size:25px">Not registered yet? Create your account!</p>

        <hr class="mb-5">  
        
        <form class="d-flex flex-column bd-highlight mb-5 w-50 mx-auto"  method="POST" action="{{ url_for('newAccountInfo') }}"
            onsubmit="return confirm('Your account will be created in a few moments!?')">

            <input class="mb-3" type="text" placeholder="Your name" name="name" required> 

            <input class="mb-3" type="text" placeholder="Your Email" name="email" required>

            <div class="text-center mt-0 mb-3 ">
                {% if msgEmailExists %} 
                <div class="mt-0 badge badge-pill badge-danger">{{msgEmailExists}}</div>
                {% endif %}
            </div>

            <input class="mb-3" type="password" placeholder="Your Password" name="psw" required>

            <input class="mb-3" type="password" placeholder="Repeat Password" name="psw-repeat" required>
        
            <!--messageError is the varivable defined in route 3 - in case password and repeatPassword don't match -->
            {% if messageError %} 
            <div class="badge badge-pill badge-danger">{{messageError}}</div>
            {% endif %}

            <button type="submit" class="btn btn-outline-primary text-nowrap mt-5">Register your account!</button>
        </form>

        <hr>

    </div>

</div>














{% endblock %}